$fontPrimary: 'Montserrat', sans-serif;
$fontSecondary: 'Courier New', Courier, monospace;
$highlightPrimary: aquamarine;
$highlightBorder: rgb(97, 241, 193);
$headerFontColor: rgb(100, 100, 100);
$bodyFontColor: rgb(65, 65, 65); 
$backgroundColor: rgb(241, 241, 241);
$dropShadow: 0 2px 5px 0 rgba(0,0,0,0.15);
$appWidth: 600px;